<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Data Access Definition -->
	<import resource="data-access.xml" />

	<!-- Services Definitions -->
	<import resource="services.xml" />

    <!-- Security Configuration -->
    <import resource="security.xml" />

	<!-- Page Definitions -->
	<import resource="page-definition.xml" />

</beans>
